<!DOCTYPE html>
<html lang = "%language%" >
<head >
    <meta charset = "utf-8" >
    <title >%title%</title >

    <script src = "lib/jquery/dist/jquery.min.js" ></script >
    <script src = "lib/railroad-diagrams/railroad-digrams.js" ></script >

    <link rel = "stylesheet" href = "layout.css" >
    <link rel = "stylesheet" href = "lib/railroad-diagrams/railroad-diagrams.css" >
</head >
<body >

<div id = "grammardocumentation" >%grammardocumentation%</div >
<div id = "rulelist" >%rulelist%</div >

</body >
</html >