*.*

!.gitignore
!.travis.yml
!circle.yml
!pom.xml
!.bowerrc
!bower.json
!*.java
!*.g4
!*.md
!*.properties
!*.tex
!*.htm

!src/main/documentation/*.doxyfile
!src/main/documentation/*.htm
!src/main/documentation/*.css

!src/main/styleguide/**/*.xml
!src/main/styleguide/**/*.txt
!src/main/styleguide/**/*.md

target/**
dependency-reduced-pom.xml
src/main/resources/template/html/lib/**
