*.*

!.gitignore
!.travis.yml
!circle.yml
!pom.xml
!.bowerrc
!bower.json
!*.java
!*.g4
!*.md
!*.properties
!*.css
!*.tex
!*.htm
!*.js
!*.txt

!src/site/*.doxyfile
!src/site/*.htm*
!src/site/*.css
!src/site/*.xml

!src/analysis/**/*.xml
!src/analysis/**/*.txt
!src/analysis/**/*.md

target/**
rrd-output/**
dependency-reduced-pom.xml
src/main/resources/de/flashpixx/rrd_antlr4/template/html/lib/**
