<!DOCTYPE html>
<html lang = "%language%" >
<head >
    <meta charset = "utf-8" >
    <title >%title%</title >

    <script src = "lib/jquery/dist/jquery.min.js" ></script >
    <script src = "lib/jquery-ui/jquery-ui.min.js" ></script >
    <script src = "lib/railroad-diagrams/railroad-diagrams.js" ></script >
    <link rel = "stylesheet" href = "lib/railroad-diagrams/railroad-diagrams.css" >

    <script src = "action.js" ></script >
    <link rel = "stylesheet" href = "layout.css" >
</head >
<body >


<div id = "grammartitle" >
    <h1 >%title%</h1 >
    <span id = "grammardocumentation" >%grammardocumentation%</span >
</div >


<div id = "rulemenu" >
    %ruletoggle%

    %rulelist%
</div >


<div id = "rules" >
    %rules%
</div >


</body >
</html >