<!DOCTYPE html>
<html lang = "%language%" >
<head >
    <meta charset = "utf-8" >
    <title >%title%</title >

    <script src = "lib/jquery/dist/jquery.min.js"></script >
    <script src = "lib/tether/dist/js/tether.min.js"></script >
    <script src = "lib/bootstrap/dist/js/bootstrap.min.js"></script >
    <script src = "lib/railroad-diagrams/railroad-diagrams.js" async></script >
    <link rel = "stylesheet" href = "lib/bootstrap/dist/css/bootstrap.min.css" >
    <link rel = "stylesheet" href = "lib/railroad-diagrams/railroad-diagrams.css" media="all" >

    <script src = "action.js" defer></script >
    <link rel = "stylesheet" href = "layout.css" media="all">
</head >
<body >


<div id = "grammartitle" >
    <h1 >%title%</h1 >
    <span id = "grammardocumentation" >%grammardocumentation%</span >
</div >


<div id = "rulemenu" >
    %ruletoggle%

    %rulelist%
</div >


<div id = "rules" >
    %rules%
</div >


</body >
</html >